{% extends 'layout.html' %}
{% block body %}
<section class="section pt-5 pb-0">
  <div class="container">
    <div class="row">
    
      <!-- Withdrawal Funds
      ============================================= -->
      <div class="col-md-6 mb-5">
        <div class="bg-white shadow-sm rounded p-4 text-center">
          <div class="featured-box style-4 py-2">
            <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i class="fas fa-download"></i> </div>
            <h3 class="text-body text-7 mb-3">Vendor Funds</h3>
            <p class="text-4 line-height-4">As a vendor, you can recieve your payment once it has been added to your available balance.</p>
            <div class="text-primary text-10 pt-3 pb-4 mb-2">1.5% charge</div>
            <!-- <a href="#" class="text-muted btn-link text-4">Learn more<i class="fas fa-chevron-right text-2 ml-2"></i></a> --> </div>
        </div>
      </div>
      <!-- Withdrawal Funds end --> 
      
      <!-- Deposit Funds
      ============================================= -->
      <div class="col-md-6 mb-5">
        <div class="bg-white shadow-sm rounded p-4 text-center">
          <div class="featured-box style-4 py-2">
            <div class="featured-box-icon text-light border rounded-circle shadow-none"> <i class="fas fa-upload"></i> </div>
            <h3 class="text-body text-7 mb-3">Depositor Funds</h3>
            <p class="text-4 line-height-4">With a wide variety of options you can deposit funds into the 9crow account. This is secured by paystack.</p>
            <div class="text-primary text-10 pt-3 pb-4 mb-2">2.5% charge</div>
            <!-- <a href="#" class="text-muted btn-link text-4">Learn more<i class="fas fa-chevron-right text-2 ml-2"></i></a> --> </div>
        </div>
      </div>
      <!-- Deposit Funds end -->     
    </div>
  </div>
</section>
    
<!-- Content
============================================= -->
<section class="section bg-primary">
  <div class="container text-center">
    <h2 class="text-9 text-white"> Open a free account in minutes.</h2>
    <p class="text-5 text-white mb-4">Quickly and easily deposit and receive money. Don't get scammed online trying to business.</p>
    <a href="{{url_for('users.register')}}" class="btn btn-light">Open a Free Account Now</a> </div>
</section>
<!-- Banner end --> 

<!-- Mobile App
============================================= -->
<!-- <section class="section py-5">
  <div class="container">
    <div class="justify-content-center text-center">
      <h2 class="text-9">Get the app</h2>
      <p class="text-4 mb-4">Download our app for the fastest, most convenient way to send &amp; get Payment.</p>
      <a class="d-inline-flex mx-3" href=""><img alt="" src="images/app-store.png"></a> <a class="d-inline-flex mx-3" href=""><img alt="" src="images/google-play-store.png"></a> </div>
  </div>
</section> -->
<!-- Mobile App end --> 

{% endblock body %}