{% extends 'layout.html' %}
{% block body %}
    
<!-- Popular Topics
============================================= -->
<section class="section bg-white">
  <div class="container">
    <h2 class="text-9 text-center">Popular Topics</h2>
    <p class="text-4 text-center mb-5">These are the most frequently asked questions about 9crow.</p>
    <div class="row">
      <div class="col-md-10 mx-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="accordion accordion-alternate" id="popularTopics">
              <div class="card">
                <div class="card-header" id="heading1">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">I forgot the password for my account.</a> </h5>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#popularTopics">
                  <div class="card-body"> Go to the Login page and click on forgot password. You will be redirected to a page where you fill in your email address and a new password with which you can login will be sent to your email. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading2">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">How do I withdraw funds from my account?</a> </h5>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#popularTopics">
                  <div class="card-body"> On your dashboard, click on the withdraw link. You will be redirected to a page where you fill your details and click on Continue. Note that you have to have an existing bank account in your profile.</div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading3">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">How do I link bank account to my account?</a> </h5>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#popularTopics">
                  <div class="card-body"> On your dashboard, below the main menu, there is a secondary menu that has a link "Bank Accounts". Click on it and fill in your account details. Note that you can only have two accounts in a profile. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading5">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">How do I receive payments?</a> </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#popularTopics">
                  <div class="card-body"> You recieve a payment when the both parties involved in a transaction have marked the transaction as fulfilled.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="accordion accordion-alternate" id="popularTopics2">
              <div class="card">
                <div class="card-header" id="heading7">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Where is my refund?</a> </h5>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#popularTopics2">
                  <div class="card-body"> Refunds are made directly to your bank account if a dispute is settled in your favour. Note that you have to link an active bank account to your profile. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading6">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">How Can I View My Payments History?</a> </h5>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#popularTopics2">
                  <div class="card-body"> Payment history can be viewed on your dashboard. The vendor activities shows your transactions as a seller and the user activities shows your transactions as a buyer. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading8">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">How do I request payments or send an invoice?</a> </h5>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#popularTopics2">
                  <div class="card-body">  Click on the Recieve link on the main menu. Fill in the transaction details and click on Continue. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading9">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">I didn't get the right products?</a> </h5>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#popularTopics2">
                  <div class="card-body"> Navigate to the transaction through your dashboard and raise a dispute with the pictures as evidence.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- 
    <div class="text-center mt-4"><a href="#" class="btn-link text-4">See more topics<i class="fas fa-chevron-right text-2 ml-2"></i></a></div> -->
  </div>
</section>
<!-- Popular Topics end -->
    
    <!-- Can't find
    ============================================= -->
    <section class="section py-4 my-4 py-sm-5 my-sm-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="bg-white shadow-sm rounded pl-4 pl-sm-0 pr-4 py-4">
              <div class="row no-gutters">
                <div class="col-12 col-sm-auto text-13 text-light d-flex align-items-center justify-content-center"> <span class="px-4 ml-3 mr-2 mb-4 mb-sm-0"><i class="far fa-envelope"></i></span> </div>
                <div class="col text-center text-sm-left">
                  <div class="">
                    <h5 class="text-3 text-body">Can't find what you're looking for?</h5>
                    <p class="text-muted mb-0">We want to answer all of your queries. Get in touch and we'll get back to you as soon as we can. <a class="btn-link" href="{{url_for('main.contactus')}}">Contact us<span class="text-1 ml-1"><i class="fas fa-chevron-right"></i></span></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock body %}