<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="{{url_for('static', filename='images/favicon.png')}}" rel="icon" />
<title>9crow - {{title}}</title>
<meta name="description" content="9crow is an online escrow service platform which acts as a middle-man between online vendors and customers">
<meta name="author" content="ITechFor">

<!-- Web Fonts
============================================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="../static/vendor/font-awesome/css/all.min.css" />
<link rel="stylesheet" type="text/css" href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" />
<link rel="stylesheet" type="text/css" href="../static/vendor/currency-flags/css/currency-flags.min.css" />
<link rel="stylesheet" type="text/css" href="../static/vendor/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
  
  <!-- Header
  ============================================= -->
  <header id="header">
    <div class="container">
      <div class="header-row">
        <div class="header-column justify-content-start"> 
          <!-- Logo
          ============================= -->
          <div class="logo"> <a class="d-flex" href="index.html" title="Payyed - HTML Template"><img src="../static/images/logo.png" alt="9crow" /></a> </div>
          <!-- Logo end --> 
          <!-- Collapse Button
          ============================== -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button><!-- Collapse Button end --> 
          
          <!-- Primary Navigation
          ============================== -->
          <nav class="primary-menu navbar navbar-expand-lg">
            <div id="header-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li><a href="/">Home</a></li>
                <li><a href="{{url_for('transactions.request_money')}}">Recieve</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('users.userdashboard')}}">Dashboard</a></li>
                {% endif %}
                <li><a href="{{url_for('main.aboutus')}}">About Us</a></li>
                <li><a href="{{url_for('main.fees')}}">Fees</a></li>
                <li><a href="{{url_for('main.help')}}">Help</a></li>
              </ul>
            </div>
          </nav>
          <!-- Primary Navigation end --> 
        </div>
        
        <div class="header-column justify-content-end">
          <!-- Login & Signup Link
          ============================== -->
          <nav class="login-signup navbar navbar-expand">
            <ul class="navbar-nav">
              {% if current_user.is_authenticated %}
              <li><a href="{{url_for('users.logout')}}">Logout</a> </li>
              {% else %}
              <li><a href="{{url_for('users.login')}}">Login</a> </li>
              <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" href="{{url_for('users.register')}}">Sign Up</a></li>
              {% endif %}
            </ul>
          </nav>
          <!-- Login & Signup Link end --> 
        </div>
      </div>
    </div>
  </header>
  <!-- Header End --> 
  {% block secondarymenu %}
  {% endblock secondarymenu %}
  <!-- Content
  ============================================= -->
  <div id="content">
    {% include 'includes/_messages.html' %} 
    {% block body %}

    {% endblock body %}
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg d-lg-flex align-items-center">
          <ul class="nav justify-content-center justify-content-lg-start text-3">
            <li class="nav-item"> <a class="nav-link active" href="{{url_for('main.aboutus')}}">About Us</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{url_for('main.help')}}">Help</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
            <li class="nav-item"> <a class="nav-link" href="{{url_for('main.fees')}}">Fees</a></li>
          </ul>
        </div>
        <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
          <ul class="social-icons justify-content-center">
            <li class="social-icons-facebook"><a data-toggle="tooltip" href="https://www.facebook.com/9crowNG" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li class="social-icons-twitter"><a data-toggle="tooltip" href="https://twitter.com/9crowNG" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li class="social-icons-instagram"><a data-toggle="tooltip" href="https://www.instagram.com/9crowng" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            <li class="social-icons-youtube"><a data-toggle="tooltip" href="https://www.youtube.com/channel/UC3LO5anQ6xmEBLJTgTomEMg" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright pt-3 pt-lg-2 mt-2">
        <div class="row">
          <div class="col-lg">
            <p class="text-center text-lg-left mb-2 mb-lg-0">Copyright &copy; 2019 <a href="/">9Crow</a>. All Rights Reserved.</p>
          </div>
          <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
            <ul class="nav justify-content-center">
              <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
              <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Video Modal
============================================= -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content bg-transparent border-0">
      <button type="button" class="close text-white opacity-10 ml-auto mr-n3 font-weight-400" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-body p-0">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" id="video" allow="autoplay"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Video Modal end --> 

<!-- Script --> 
<script src="../static/vendor/jquery/jquery.min.js"></script> 
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<script src="../static/vendor/owl.carousel/owl.carousel.min.js"></script> 
<script src="../static/vendor/daterangepicker/moment.min.js"></script> 
<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<script>
$(function() {
 'use strict';
  // Birth Date
  $('#birthDate').daterangepicker({
  singleDatePicker: true,
  "showDropdowns": true,
  autoUpdateInput: false,
  maxDate: moment().add(0, 'days'),
  }, function(chosen_date) {
  $('#birthDate').val(chosen_date.format('DD-MM-YYYY'));
  });
  });
</script>
<script src="../static/js/theme.js"></script>
</body>
</html>