{% extends 'layout.html' %}
{% block body %}
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <h2 class="font-weight-400 text-center mt-3">Request Money</h2>
      <p class="text-4 text-center mb-4">Request your payment on anytime and secure your transaction.</p>
      <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
          <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
            <h3 class="text-5 font-weight-400 mb-3">Transaction Details</h3>
            <!-- Request Money Form
            ============================================= -->
            <form id="form-send-money" method="post">
              {{ request_form.hidden_tag() }}
              {% from 'includes/_formhelpers.html' import render_field  %}
              <div class="form-group">
                <label for="amount">Amount</label>
                <div class="input-group">
                  <div class="input-group-prepend"> <span class="input-group-text">₦</span> </div>
                  {{ render_field(request_form.amount, class_="form-control", placeholder="1000", required="true", type="number", min=1000) }}
                </div>
              </div>
              <div class="form-group">
                {{ render_field(request_form.description, class_="form-control", placeholder="Payment Description", required="true", rows="4") }}
              </div>
              <div class="form-check mt-3">
                {{ render_field(request_form.agree, class_="form-check-input") }}
                <label class="form-check-label">Agree to our <a href="#">Terms and Conditions</a></label>
              </div>
              <a href="#confirm-request" data-toggle="modal" class="btn btn-secondary btn-block mt-4">Continue</a>
              <div id="confirm-request" class="modal fade " role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-weight-400">Confirm Request Money</h5>
                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                  </div>
                  <div class="modal-body p-4">
                    <p>
                      This transaction will be added to your list of transactions. Don't offer any service until the customer pays using your generated link.
                    </p>
                    <button class="btn btn-primary btn-block mt-4" type="submit">Yes, I understand</button>
                  </div>
                </div>
              </div>
            </div>
            </form>
            <!-- Request Money Form end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content end --> 
  {% endblock body %}
