<div class="bg-primary">
  <div class="container d-flex justify-content-center">
    <ul class="nav secondary-nav">
      <li class="nav-item"> <a class="nav-link active" href="{{url_for('users.userdashboard')}}">Dashboard</a></li>
      <li class="nav-item"> <a class="nav-link" href="{{url_for('users.userprofile')}}">Account</a></li>
      <li class="nav-item"> <a class="nav-link" href="{{url_for('users.userprofile_bank_accounts')}}">Bank Accounts</a></li>
      <li class="nav-item"> <a class="nav-link" href="{{url_for('users.profile_notifications')}}">Notifications</a></li>
    </ul>
  </div>
</div>