{% extends 'layout.html' %}
<!-- Secondary menu
============================================= -->
{% block secondarymenu %}
<div class="bg-white">
  <div class="container d-flex justify-content-center">
    <ul class="nav secondary-nav alternate">
      <li class="nav-item"> <a class="nav-link active" href="{{url_for('transactions.withdrawal')}}">Withdraw</a></li>
    </ul>
  </div>
</div>
{% endblock secondarymenu %}
<!-- Secondary menu end --> 
  
  <!-- Content
  ============================================= -->
  {% block body %}
  <div id="content" class="py-4">
    <div class="container">
      <h2 class="font-weight-400 text-center mt-3 mb-4">Withdraw Money</h2>
      <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto"> 
        <!-- Withdraw Money Form
        ============================================= -->
          <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
            <div class="text-center bg-primary p-4 rounded mb-4">
              <h3 class="text-10 text-white font-weight-400">₦{{current_user.balance.available}}</h3>
              <p class="text-white">Available Balance</p>
            </div>
            <form id="form-send-money" method="post">
              <div class="form-group">
                <label for="withdrawto">Withdraw to</label>
                <select id="withdrawto" name="bankValue" class="custom-select" required="">
                  {% for bank in current_user.bank_accounts %}
                  <option value="{{bank.id}}">{{bank.bank_name}} - {{bank.account_number}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
              </div>
              <p class="font-weight-500">Amount to Withdraw <span class="text-3 float-right">₦{{current_user.balance.available}}</span></p>
              <button class="btn btn-primary btn-block">Continue</button>
            </form>
          </div>
          <!-- Withdraw Money Form end --> 
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}
  <!-- Content end --> 
